@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
html, body, .container {
    height: 100%;
}

body {
    background-color: #222222;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

select {
    background-color: #333333;
    border: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 0.5rem;
    width: 20rem;
    text-align-last: center;
}

#downloadP {
    margin: 2rem;
}

a#download {
    text-decoration: none;
    color: black;
    padding: 1rem;
    background-color: #51993d;
    transition: all 0.3s ease-in-out;
}

a#download[href^="https://webgay.ddns.net"] {
    background-color: #85fb65;
    color: black;
}

a {
    text-decoration: none;
    color: #85fb65;
}
